<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kajianid.ustadz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.KajianID">
        <activity
            android:name=".ui.mosque.MosqueChooserActivity"
            android:theme="@style/MosqueChooserDialog" />
        <activity android:name=".ui.kajian.ShowKajianActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.article.ReadArticleActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.intro.IntroActivity" />
        <activity
            android:name=".ui.credential.EditPasswordActivity"
            android:label="@string/change_password"
            android:theme="@style/ChangePasswordDialog" />
        <activity
            android:name=".ui.credential.EditIdentityActivity"
            android:label="@string/change_identity"
            android:theme="@style/ChangeIdentityDialog" />
        <activity android:name=".ui.kajian.AddUpdateKajianActivity" />
        <activity android:name=".ui.article.AddUpdateArticleActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.about.AboutActivity" />
        <activity android:name=".ui.intro.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>